.btn {
	background: black;
	color: $white;
	padding: 0 2rem;
	border-radius: 4px;
	appearance: none;
	cursor: pointer;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
	height: 3.8rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	outline: 0;
	border: 0;
	white-space: nowrap;
	transition: 0.3s;

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.small {
		height: 3rem;
		font-size: 1.2rem;
		padding: 0 1rem;
	}

	&.medium {
		height: 4rem;
		padding: 0 2.5rem;
		font-size: 1.6rem;
	}

	&.big {
		height: 50px;
		padding: 0 3rem;
	}

	&.curved {
		border-radius: 50px;
	}

	&.btn-primary {
		background: $black;

		&:hover {
			background: lighten($black, 5%);
		}

		&.btn-outline {
			border-color: $black;
			color: $black;

			&:hover {
				background: $black;
				color: $white;
			}
		}
	}

	&.btn-outline {
		background: none;
		border: 1px solid $grey;
	}

	i,
	svg {
		margin-right: 1rem;
	}

	&.icon {
		padding: 0;
		width: 4rem;
		font-size: 4rem;

		i,
		svg {
			margin-right: 0;
		}
	}
}
