// Colors
$white: #ffffff;
$black: #000000;
$greyDark: #444444;
$grey: #757575;
$blue: #007bda;

// Fonts
$primaryFont: "Roboto", sans-serif;
$secFont: "Montserrat", sans-serif;

// Responsive Variables
$desktopLarge: 1440px;
$desktopNormal: 1200px;
$desktopSmall: 1024px;
$tabletLarge: 991px;
$tablet: 768px;
$phablet: 766px;
$mobilexLarge: 640px;
$mobileLarge: 426px;
$mobileMedium: 375px;
$mobileSmall: 320px;
